/* Fade from Left with Scale */
.fade_from_left {
    opacity: 0;
    transform: translateX(-100px) scale(0.5);
    animation: fadeLeft 0.5 ease-in-out forwards;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-100px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

/* Fade from Right with Scale */
.fade_from_right {
    opacity: 0;
    transform: translateX(100px) scale(0.5);
    animation: fadeRight 0.5 ease-in-out forwards;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(100px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

